<div class="edit-jumb jumbotron">
    <form name="myForm">
        <div class="form-group" ng-class="{'has-error': myForm.title.$invalid}">
            <label class="control-label" for="projectTitle">Project title</label>
            <input class="form-control" type="text" name="title" ng-minlength="2" ng-maxlength="200" ng-model="project.title" id="projectTitle" placeholder="My project" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="projectDescription">Description</label>
            <textarea class="form-control" type="text" ng-model="project.description" id="projectDescription"></textarea>
        </div>
        <a href="#/" class="btn btn-default">Cancel</a>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="myForm.$invalid">Save</button>
        <button type="button" class="btn btn-danger" ng-click="delete()" ng-show="project.id">Delete</button>
    </form>
</div>