<div class="project-container">
    <div class="project-block new_project_block">
        <a href="#/newproject">
            <div class="project-block-content">
                <div class="new_project_icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="project-block-title new_project_title">
                    New project
                </div>
            </div>
        </a>
    </div>
    <div class="project-block" ng-repeat="project in projects">
        <div class="project-block-content">
            <a href="#/editproject/{{project.id}}"><i class="fa fa-cog project-block-settings-icon"></i></a>
            <div class="project-block-title">
                <a href="#/{{project.title}}/{{project.id}}/tasks">{{project.title}}</a>
            </div>
            <ul class="statistics clearfix">
                <li>
                    <div class="statistics-participants-title">Created by:</div>
                    <div class="statistics-participants-value"><span>{{project.name}}</span></div>
                </li>
                <li>
                    <div class="statistics-participants-title">Last update:</div>
                    <div class="statistics-participants-value"><span>{{project.updateDate | date: 'dd MMMM yy HH:mm'}}</span></div>
                </li>
                <li>
                    <div class="statistics-participants-title">Participants:</div>
                    <div class="statistics-participants-value"><span>{{project.participants}}</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>