<div class="edit-jumb jumbotron">
    <form name="myForm">
        <div class="form-group" ng-class="{'has-error': myForm.title.$invalid}">
            <label class="control-label" for="projectTitle">Project title</label>
            <input class="form-control" type="text" name="title" ng-minlength="2" ng-maxlength="200" ng-model="project.title" id="projectTitle" placeholder="My project" required>
        </div>
        <div class="form-group"  ng-class="{'has-error': myForm.participant.$invalid}">
            <label class="control-label" for="projectParticipants">Participants</label>
            <div class="row">
                <div class="col-sm-6 participants-block">
                    <div class="input-group">
                        <input class="container form-control" type="email" name="participant" ng-model="project.participant" id="projectParticipants" placeholder="user@mail.com">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="addParticipant(project.participant)">
                                <i class="fa fa-user-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 participants-block">
                    <ul class="list-group scroll">
                        <li href="" class="list-group-item" ng-show="!project.participants.length">
                            participant@mail.com
                        </li>
                        <li href="" class="list-group-item" ng-repeat="mail in project.participants">
                            {{mail}}
                            <i class="fa fa-times" ng-click="removeParticipant(mail)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="projectDescription">Description</label>
            <textarea class="form-control" type="text" ng-model="project.description" id="projectDescription"></textarea>
        </div>
        <div class="controls clearfix">
            <a href="#/" class="control-element btn btn-default"  ng-disabled="project.loading">Cancel</a>
            <button type="button" class="control-element btn btn-primary" ng-click="save()" ng-disabled="myForm.$invalid || project.loading">Save</button>
            <button type="button" class="control-element btn btn-danger" ng-click="delete()" ng-show="project.id"  ng-disabled="project.loading">Delete</button>
            <div class="control-element" ng-show="project.loading">
                <i class="fa fa-cog fa-spin"></i>
            </div>
        </div>
    </form>
</div>